<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="layout (template, currentPage)">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Aaron Shappell</title>
    <link href='https://fonts.googleapis.com/css?family=Work+Sans:200' rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>
    <div id="container-nav">
        <div th:replace="fragments/navItem :: navItem (${currentPage}, 'home', '/', 'Home')"/>
        <div th:replace="fragments/navItem :: navItem (${currentPage}, 'projects', '/projects', 'Projects')"/>
        <div th:replace="fragments/navItem :: navItem (${currentPage}, 'cv', '/cv', 'CV')"/>
        <div th:replace="fragments/navItem :: navItem (${currentPage}, 'contact', '/contact', 'Contact')"/>
    </div>
    <div th:replace="${template}"/>
    <div id="container-footer">
        <div id="social">
            <div class="row">
                <a href="https://github.com/aaronshappell" target="_blank"><img th:src="@{/images/icons/github.svg}" alt="Github" class="icon"></a>
                <a href="https://stackoverflow.com/users/7831628/aaron-shappell" target="_blank"><img th:src="@{/images/icons/stackoverflow.svg}" alt="Stackoverflow" class="icon"></a>
                <a href="https://www.linkedin.com/in/aaronshappell/" target="_blank"><img th:src="@{/images/icons/linkedin.svg}" alt="LinkedIn" class="icon"></a>
            </div>
            <div class="row">
                <a href="https://facebook.com/aaronshappell" target="_blank"><img th:src="@{/images/icons/facebook.svg}" alt="Facebook" class="icon"></a>
                <a href="https://soundcloud.com/aaronshappell" target="_blank"><img th:src="@{/images/icons/soundcloud.svg}" alt="SoundCloud" class="icon"></a>
                <a href="https://www.youtube.com/channel/UC00y3DOKo_63aZfSNfy2MPQ" target="_blank"><img th:src="@{/images/icons/youtube.svg}" alt="YouTube" class="icon"></a>
            </div>
        </div>
        <div id="copyright">&copy; 2017 Aaron Shappell</div>
    </div>
    <!-- SCRIPTS -->
    <!-- <script th:src="@{/js/main.js}"></script> -->
</body>
</html>