<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body}, 'contact')}">
<body>
    <div id="page-contact" class="page">
        <div>
            <div class="page-header">
                <h2>Contact</h2>
            </div>
            <div class="page-content">
                <div class="page-content-item">
                    <h3><a href="mailto://aaronshappell@gmail.com">Email</a></h3>
                    <p>Email aaronshappell@gmail.com to contact me or ask any questions.</p>
                </div>
                <div class="page-content-item">
                    <h3><a href="https://github.com/aaronshappell" target="_blank">Github</a></h3>
                    <p>For any inquiries or questions related to programming or my projects feel free to contact me via my GitHub.</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>