<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body}, 'projects')}">
<body>
    <div id="page-projects" class="page">
        <div>
            <div class="page-header">
                <h2>Projects</h2>
            </div>
            <div class="page-content">
                <div class="page-content-item" th:each="project : ${projects}">
                    <div class="card">
                        <div class="card-header" th:text="${project.name}"/>
                        <div class="card-content">
                            <img th:src="@{${project.image}}" alt="">
                            <p th:text="${project.content}"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>