<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body}, 'projects')}">
<body>
    <div id="page-projects" class="page">
        <div>
            <div class="page-header">
                <h2>Projects</h2>
            </div>
            <div class="page-content">
                <div class="page-content-item">
                    <div class="card">
                        <div class="card-header">SolSys - A Math-Oriented Art Puzzle</div>
                        <div class="card-content">
                            <img th:src="@{/images/aaron.png}" alt="">
                            <p>Meowe mewoeworehjalkdf</p>
                        </div>
                    </div>
                </div>
                <div class="page-content-item">
                    <div class="card">
                        <div class="card-header">SolSys - A Math-Oriented Art Puzzle</div>
                        <div class="card-content">
                            <img th:src="@{/images/aaron.png}" alt="">
                            <p>Meowe mewoeworehjalkdf</p>
                        </div>
                    </div>
                </div>
                <div class="page-content-item">
                    <div class="card">
                        <div class="card-header">SolSys - A Math-Oriented Art Puzzle</div>
                        <div class="card-content">
                            <img th:src="@{/images/aaron.png}" alt="">
                            <p>Meowe mewoeworehjalkdf</p>
                        </div>
                    </div>
                </div>
                <div class="page-content-item">
                    <div class="card">
                        <div class="card-header">SolSys - A Math-Oriented Art Puzzle</div>
                        <div class="card-content">
                            <img th:src="@{/images/aaron.png}" alt="">
                            <p>Meowe mewoeworehjalkdf</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>